@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg1 {
    background-color: #10A19D ;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}