@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* style.css */
.text-outline {
  -webkit-text-stroke: 4px #FF7000;
}

.bg-custom {
  background-image: url('../images/bg_homepage1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.active-tab {
  background-color: white;
  color: #10A19D;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}
